<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="Stylesheet.css">
  
</head>
<body>
  

  
  
    
      <h2> <%= comic.title %></h2>
      <p><%= comic.contents %></p>
      <a href="/ComicBooks">Back</a>
    
      <form action="/ComicBooks/<%= comic.id%>/delete" method="POST">
      <button type="submit">delete</button>
      </form>
      

</body>
</html> 